.current-weather-box {
  width: 350px;
  z-index: 100;
}

.current-weather-box h2 {
  font-weight: 500;
}

.current-weather-box .weather-widget {
  margin: 30px 0;
  width: 350px;
  max-height: auto;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, white), color-stop(85%, rgba(227, 227, 227, 0.066)));
  background: linear-gradient(180deg, white 25%, rgba(227, 227, 227, 0.066) 85%);
  border-radius: 12px;
  color: #34363fe6;
}

.current-weather-box .weather-widget .widget-top-box {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 18px 0px;
}

.current-weather-box .weather-widget .widget-top-box .weather-location {
  margin: 12px 8px;
}

.current-weather-box .weather-widget .widget-top-box .weather-location .city {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.current-weather-box .weather-widget .widget-top-box .weather-location .weather-condition {
  font-size: 20px;
  margin: 0px 0;
}

.current-weather-box .weather-widget .widget-top-box .weather-icon-box {
  width: 48px;
  height: 48px;
  position: relative;
  top: -10px;
  right: 10px;
  padding: 18px 14px 14px 16px;
  background: white;
  border-radius: 0 50%;
  -webkit-box-shadow: 0px 0px 6px white;
          box-shadow: 0px 0px 6px white;
}

.current-weather-box .weather-widget .widget-top-box .weather-icon-box .weather-icon {
  width: 48px;
  height: 48px;
  pointer-events: none;
}

.current-weather-box .weather-widget .widget-middle-box {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px 27px 50px;
}

.current-weather-box .weather-widget .widget-middle-box .temperature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.current-weather-box .weather-widget .widget-middle-box .temperature-box .temperature {
  font-size: 4.2rem;
}

.current-weather-box .weather-widget .widget-middle-box .temperature-box .temperature-scale {
  font-size: 2.1rem;
  margin-top: 8px;
}

.current-weather-box .weather-widget .widget-bottom-box {
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(38, 38, 38, 0.391)), to(rgba(16, 16, 16, 0.831)));
  background: linear-gradient(0deg, rgba(38, 38, 38, 0.391) 0%, rgba(16, 16, 16, 0.831) 100%);
  border-radius: 35px 35px 12px 12px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.current-weather-box .weather-widget .widget-bottom-box .weather-details {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.current-weather-box .weather-widget .widget-bottom-box .weather-details .param-label.title {
  font-weight: 500;
  margin: 0px auto;
}

.current-weather-box .weather-widget .widget-bottom-box .weather-details p {
  margin: 0;
}

.current-weather-box .weather-widget .widget-bottom-box .weather-details .params-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.275em;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 28px;
  margin: 0 8px 6px;
}

.current-weather-box .weather-widget .widget-bottom-box .weather-details .params {
  width: 85%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.5px auto;
}

@media (max-width: 1260px) {
  h2 {
    text-align: center;
    scale: 1.12;
  }
}

@media (max-width: 980px) {
  .current-weather-box {
    width: 450px;
  }
  .current-weather-box .weather-widget {
    width: 100%;
  }
  .current-weather-box .weather-widget .widget-top-box {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 14px 18px 0px;
  }
  .current-weather-box .weather-widget .widget-top-box .weather-location {
    margin: 12px 8px;
  }
  .current-weather-box .weather-widget .widget-top-box .weather-location .city {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
  }
  .current-weather-box .weather-widget .widget-top-box .weather-location .weather-condition {
    font-size: 24px;
    letter-spacing: -0.5px;
    margin: 0px 0;
  }
  .current-weather-box .weather-widget .widget-top-box .weather-icon-box {
    width: 60px;
    height: 60px;
    position: relative;
    top: -10px;
    right: 20px;
    padding: 18px 14px 14px 16px;
    background: white;
    border-radius: 0 50%;
    -webkit-box-shadow: 0px 0px 6px white;
            box-shadow: 0px 0px 6px white;
  }
  .current-weather-box .weather-widget .widget-top-box .weather-icon-box .weather-icon {
    width: 60px;
    height: 60px;
    pointer-events: none;
  }
  .current-weather-box .weather-widget .widget-middle-box {
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0px 27px 50px;
  }
  .current-weather-box .weather-widget .widget-middle-box .weather-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    scale: 1.2;
    position: relative;
    left: 12px;
  }
  .current-weather-box .weather-widget .widget-middle-box .weather-time .local-time-label {
    font-size: 1em;
    font-weight: 500;
  }
  .current-weather-box .weather-widget .widget-middle-box .weather-time .local-time {
    font-size: 0.9em;
  }
  .current-weather-box .weather-widget .widget-middle-box .temperature-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .current-weather-box .weather-widget .widget-middle-box .temperature-box .temperature {
    font-size: 5.2rem;
  }
  .current-weather-box .weather-widget .widget-middle-box .temperature-box .temperature-scale {
    font-size: 2.8rem;
    margin-top: 8px;
  }
  .current-weather-box .weather-widget .widget-bottom-box {
    width: 100%;
    height: auto;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(38, 38, 38, 0.391)), to(rgba(16, 16, 16, 0.831)));
    background: linear-gradient(0deg, rgba(38, 38, 38, 0.391) 0%, rgba(16, 16, 16, 0.831) 100%);
    border-radius: 35px 35px 12px 12px;
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
  }
  .current-weather-box .weather-widget .widget-bottom-box .weather-details {
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .current-weather-box .weather-widget .widget-bottom-box .weather-details p {
    margin: 0;
  }
  .current-weather-box .weather-widget .widget-bottom-box .weather-details .params-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.6em;
    font-weight: 500;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    height: 28px;
    margin: 5px 0;
  }
  .current-weather-box .weather-widget .widget-bottom-box .weather-details .params {
    width: 85%;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    margin: 2px auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.2em;
  }
}

@media (max-width: 600px) {
  .current-weather-box {
    width: 350px;
    z-index: 100;
    margin-top: 32px;
  }
  .current-weather-box h2 {
    font-weight: 500;
  }
  .current-weather-box .weather-widget {
    margin: 30px 0;
    width: 350px;
    max-height: auto;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, white), color-stop(85%, rgba(227, 227, 227, 0.066)));
    background: linear-gradient(180deg, white 25%, rgba(227, 227, 227, 0.066) 85%);
    border-radius: 12px;
    color: #34363fe6;
  }
  .current-weather-box .weather-widget .widget-top-box {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 14px 18px 0px;
  }
  .current-weather-box .weather-widget .widget-top-box .weather-location {
    margin: 12px 8px;
  }
  .current-weather-box .weather-widget .widget-top-box .weather-location .city {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
  }
  .current-weather-box .weather-widget .widget-top-box .weather-location .weather-condition {
    font-size: 20px;
    margin: 0px 0;
  }
  .current-weather-box .weather-widget .widget-top-box .weather-icon-box {
    width: 48px;
    height: 48px;
    position: relative;
    top: -10px;
    right: 10px;
    padding: 18px 14px 14px 16px;
    background: white;
    border-radius: 0 50%;
    -webkit-box-shadow: 0px 0px 6px white;
            box-shadow: 0px 0px 6px white;
  }
  .current-weather-box .weather-widget .widget-top-box .weather-icon-box .weather-icon {
    width: 48px;
    height: 48px;
    pointer-events: none;
  }
  .current-weather-box .weather-widget .widget-middle-box {
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0px 27px 50px;
  }
  .current-weather-box .weather-widget .widget-middle-box .weather-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-shadow: 0 0 12px white;
  }
  .current-weather-box .weather-widget .widget-middle-box .weather-time .local-time-label {
    font-size: 1em;
    font-weight: 500;
  }
  .current-weather-box .weather-widget .widget-middle-box .weather-time .local-time {
    font-size: 0.9em;
  }
  .current-weather-box .weather-widget .widget-middle-box .temperature-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .current-weather-box .weather-widget .widget-middle-box .temperature-box .temperature {
    font-size: 4.2rem;
  }
  .current-weather-box .weather-widget .widget-middle-box .temperature-box .temperature-scale {
    font-size: 2.1rem;
    margin-top: 8px;
  }
  .current-weather-box .weather-widget .widget-bottom-box {
    width: 100%;
    height: auto;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(38, 38, 38, 0.391)), to(rgba(16, 16, 16, 0.831)));
    background: linear-gradient(0deg, rgba(38, 38, 38, 0.391) 0%, rgba(16, 16, 16, 0.831) 100%);
    border-radius: 35px 35px 12px 12px;
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
  }
  .current-weather-box .weather-widget .widget-bottom-box .weather-details {
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .current-weather-box .weather-widget .widget-bottom-box .weather-details p {
    margin: 0;
  }
  .current-weather-box .weather-widget .widget-bottom-box .weather-details .params-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.275em;
    font-weight: 600;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    height: 28px;
    margin: 0 8px 12px;
  }
  .current-weather-box .weather-widget .widget-bottom-box .weather-details .params {
    width: 85%;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0 auto;
    font-size: 1em;
  }
}
/*# sourceMappingURL=current-weather.css.map */