
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  background-image: url(../public/assets/backgrounds/home-background.jpg);
  background-size: auto 140vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

code {
  outline: none !important;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-01n,
.color-01d,
.color-02n,
.color-03n,
.color-04n,
.color-09n,
.color-10n,
.color-11n,
.color-13n,
.color-04d,
.color-50n,
.color-10d,
.color-02d,
.color-03d,
.color-50d {
  text-shadow: 0px 0px 30px #1010108f;
  color: #fff;
  font-size: 1.5em;
}

.color-09d,
.color-11d,
.color-13d {
  text-shadow: 1px 1px 8px #ffffff;
  color: rgb(46, 45, 45);
  font-size: 1.5em;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-decoration: none !important;
}

.local-weather-title {
  color: #fff !important;
  font-size: 1.5em;
}

.title {
  text-shadow: 0px 0px 45px black;
  /* color: white; */
}

button {
  border: none;
  background: none;
  color: #fff !important;
  font-size: 1.1em;
  font-weight: 600;
}